*{
    margin: 0;
    text-decoration: none;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  /* Header */
  
  .header {
    width: 100wh;
    height: 70px;
    background-color: black  ;
  }
  
  /* Inout */
  
  :root {
    /* generic */
    --gutterSm: 0.4rem;
    --gutterMd: 0.8rem;
    --gutterLg: 1.6rem;
    --gutterXl: 2.4rem;
    --gutterXx: 7.2rem;
    --colorPrimary400: #7e57c2;
    --colorPrimary600: #5e35b1;
    --colorPrimary800: #4527a0;
    --fontFamily: "Dosis", sans-serif;
    --fontSizeSm: 1.2rem;
    --fontSizeMd: 1.6rem;
    --fontSizeLg: 2.1rem;
    --fontSizeXl: 2.8rem;
    --fontSizeXx: 3.6rem;
    --lineHeightSm: 1.1;
    --lineHeightMd: 1.8;
    --transitionDuration: 300ms;
    --transitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);
    
    /* floated labels */
    --inputPaddingV: var(--gutterMd);
    --inputPaddingH: var(--gutterLg);
    --inputFontSize: var(--fontSizeLg);
    --inputLineHeight: var(--lineHeightMd);
    --labelScaleFactor: 0.8;
    --labelDefaultPosY: 50%;
    --labelTransformedPosY: calc(
      (var(--labelDefaultPosY)) - 
      (var(--inputPaddingV) * var(--labelScaleFactor)) - 
      (var(--inputFontSize) * var(--inputLineHeight))
    );
    --inputTransitionDuration: var(--transitionDuration);
    --inputTransitionTF: var(--transitionTF);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  html {
    font-size: 11px;
  }
  
  body {
    margin: 0%;
    align-items: center;
    justify-content: center;
    background-color: #7E57C2;
    font-family: var(--fontFamily);
    font-size: var(--fontSizeMd);
    line-height: var(--lineHeightMd);
  }
  
  .Title {
    margin: 0 0 var(--gutterXx) 0;
    padding: 0;
    color: #fff;
    font-size: var(--fontSizeXx);
    font-weight: 400;
    line-height: var(--lineHeightSm);
    text-align: center;
    text-shadow: -0.1rem 0.1rem 0.2rem var(--colorPrimary800);
  }
  
  .Input { 
    width: 70%;
    margin: auto ;
  }
  
  .Input-text {
    margin: auto;
    display: block;
    padding: var(--inputPaddingV) var(--inputPaddingH);
    color: inherit;
    width: 50%;
    font-family: inherit;
    font-size: var(--inputFontSize);
    font-weight: inherit;
    line-height: var(--inputLineHeight);
    border: none;
    border-radius: 30px;
    transition: box-shadow var(--transitionDuration);
  }
  
  .Input-text::placeholder {
    color: #B0BEC5;
  }
  
  .Input-text:focus {
    outline: none;
    box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600);
  }
  
  
  /* Main */
  .main {
    
  }
  
  .searchSection {
    padding: 30px 0;
  }
  
  /* Cards */
  
  .reposSection {
    display: flex;
    justify-content: center;
  }
  
  .reposCardBox {
    width: 50%;
  }
  
  .reposCard {
    cursor: pointer;
    display: flex;
    margin: 20px 0;
    background-color: rgb(97, 38, 233);
    justify-content: space-between;
    color: white;
    border-radius: 30px;
    padding: 2% 4%;
    transition: 0.4s;
  }
  
  .reposCard:hover {
    background-color: palevioletred;
    transition: 0.4s;
  }
  
  .reposCardText a{
    text-decoration: none;
    color: white;
    transition: .3s;
  }
  
  .gitHubLink:hover {
    color: rgb(97, 38, 233);
    transition: .3s;
  }
  
  .reposCardInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .paginator {
    width: 25%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 0 0 20px;
  }
  
  .page {
    cursor: pointer;
    font-size: 25px;
  }
  
  .current-page {
    cursor: pointer;
    color: white;
    font-size: 35px;
  }
  
  #error {
    position: absolute;
    width: 100wh;
    height: 100vh;
    background-color: red;
  }
  
  